header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 10;
  top: 0px;
}

header nav {
  display: inline-flex;
  padding-right: 40px;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav span {
  padding: 20px 10px;
}

span a {
    color: black;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  padding-left: 30px;
  width: 100%;
}

.logo img {
  margin-right: 12px;
}


.main {
  display: flex;
  padding-top: 116px;
  justify-content: space-around;
  margin: 0 auto 78px auto;

}

.main .column {
  display: flex;
  flex-direction: column;

}

div {
  display: block;

}

.column.large {
  display: flex;
  width: 630px;
  margin: 0px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.story {

  font-family: Georgia;
  font-size: 16px;
  color: black;
  width: 300px;
  margin: 10px;
}

.leadstory {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  width: 620px;
}

div .image {
  display: flex;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 15px;
  text-align: center;
  flex-direction: column;
}

div .mother {
  background-image:
  url(../images/story-main.png);
}

div .cat {
  background-image:
  url(../images/cat.png);
}


div .earth {
  background-image:
  url(../images/img-story-2.png);
}

div .research {
  background-image:
  url(../images/fallseason.png);
}

.stories {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.column.stories {
  display: flex;
}

.newsbites {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.bites {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 1px black;
  padding: 11px 20px;
}

footer {
  display: flex;
  width: 100%;
  height: 325px;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
}

.mytime {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  display: inline-block;
  border-right: solid 2px white;
}

.info {
  display: block;
}

.copyrights {
  display: block;
  font-family: Verdana;
  font-size: 12px;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}
